.template-cta-container {
  border-radius: 32px;
  padding: var(--space-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-md);
}

.template-cta-text {
  font-size: var(--text-2xl);
  font-weight: 500;
  letter-spacing: -0.02em;
}

@media (max-width: 809px) {
  .template-cta-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
}
